<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi API REST</title>
</head>
<body>
<h1>Bienvenido a Mi API REST</h1>

<a href="http://localhost:8080/verdepartamentos" class="button">Ver
    Departamentos</a>

<a href="http://localhost:8080/verempleados" class="button">Ver
    Empleados</a>

<br>

<a href="http://localhost:8080/altadepartamento" class="button">Alta
    Departamentos</a>

<a href="http://localhost:8080/altaempleado" class="button">Alta
    Empleado</a>

</body>
</html>